# node_modules folder
node_modules/
uploads/

# environment variables
.env

# logs
logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# server build files if you build later
dist/
.env
